<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/index.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <h1>
      <img height="120" src="https://i.imgur.com/DwNdAae.png" class="spiderman-spin-ccw" />
      Spiderman Points!!!!
      <img height="120" src="https://i.imgur.com/DwNdAae.png" class="spiderman-spin-cw" />
    </h1>
    <h3>
      <img height="80" src="https://i.imgur.com/DwNdAae.png" class="spiderman-spin-cw" />
      You know you want them!!
      <img height="80" src="https://i.imgur.com/DwNdAae.png" class="spiderman-spin-ccw" />
    </h3>
    <h2>
      <a href="https://slack.com/oauth/v2/authorize?client_id=3912158936.1056180711731&scope=commands">
        <img alt="Add to Slack" height="100" width="350" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x">
      </a>
    </h2>
    <p class="pitch">
      You give your friends Spiderman Points. Your friends give you spiderman points.<br/>
      Everyone's happy! It's great.
    </p>
    <h3>
      <img height="80" src="https://i.imgur.com/DwNdAae.png" class="spiderman-spin-cw" />
      How, you say?
      <img height="80" src="https://i.imgur.com/DwNdAae.png" class="spiderman-spin-ccw" />
    </h3>
    <p>It's simple, just use the slash command to tell your friends they are great!</p>
    <img alt="Example usage" width="600" src="https://i.imgur.com/3EXJumD.png" />
    <p>So what are you waiting for?? Mash the "Add to Slack" button!!!!</p>
    <a href="https://slack.com/oauth/v2/authorize?client_id=3912158936.1056180711731&scope=commands">
      <img alt="Add to Slack" height="100" width="350" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x">
    </a>
    <p>
      <a href="https://github.com/awseward/spiderman-points">
        Check out the source on GitHub!
      </a>
    </p>
  </body>
</html>
