<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/index.js" type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <h1>
      <img height="120" src="https://i.imgur.com/DwNdAae.png" class="spiderman-spin-ccw" />
      Spiderman Points!!!!
      <img height="120" src="https://i.imgur.com/DwNdAae.png" class="spiderman-spin-cw" />
    </h1>
    <h3>
      <img height="80" src="https://i.imgur.com/DwNdAae.png" class="spiderman-spin-cw" />
      You know you want them!!
      <img height="80" src="https://i.imgur.com/DwNdAae.png" class="spiderman-spin-ccw" />
    </h3>
    <h2>[ Add To Slack ]</h2>
    <p>
      You give your friends Spiderman Points. Your friends give you spiderman points.<br/>
      Everyone's happy! It's great.
    </p>
  </body>
</html>
