<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/index.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
