# IMPORTANT: This `.envrc` is, perhaps unexpectedly, staged and committed
# into version control. Accordingly, please make sure to avoid including any
# secrets here; instead, use .envrc.private.
source_env_if_exists .envrc.private

export SPOINTS_SLACK_CLIENT_ID='3912158936.1056180711731'
export SPOINTS_SLACK_SCOPE='commands,channels:read,chat:write&user_scope='
