<h1>Dev Tools!</h1>
<ul class="devtools-list">
  <li class="devtools-item">
    <span><a href="/dev/slash_command" target="_blank">/dev/slash_command</a>: simulate a slash command locally</span>
  </li>
</ul>
